<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ciwest.androidhomework">

    <!-- 允许程序联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 解决系统关闭问题 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序调用相机权限 (扫描，相机模块) -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 允许程序camera自动对焦(扫描，相机模块) -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许程序访问闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CompareActivity"
            android:label="@string/activity_compare" >
        </activity>
        <activity
            android:name=".DetectActivity"
            android:label="@string/activity_detect" >
        </activity>
    </application>

</manifest>